/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default Styles */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  color: #ebecf1;
  display: grid;
}

/* Navigation Styles */

ul.nav {
  padding: 12px 0;
  display: flex;
  list-style: none;
}

li.nav-nav {
  margin-right: 12px;
}

li.nav-nav:not(:first-child)::before {
  content: '/';
  margin: 0 12px;
}

.scouter_nav {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.scouter_nav:hover {
  color: #E8B10C;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .burger {
    display: block;
  }

  .goku {
    display: none;
  }

  .winner,
  .win,
  .bottom-table-win,
  .goku_wins {
    display: none;
  }

  #bodycontent_summary,
  #education,
  #profession,
  #military {
    margin-top: 10%;
    padding: 0 12px;
  }
}

/* Your Existing CSS Styles */
/* ... */
