* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
overflow-y: hidden;
background-image: url('TOD BG option 1.jpg'); 
background-size: 100%; /* Set the background image size */
  background-color: red;
  font-family: Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  touch-action: manipulation;
}

header {
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: rgb(255, 235, 235);
  font-style: Hadassah Friedlaender;
  size: 1.8em;;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  height: 100%;
}

.output {
  text-align: center;
  bottom: 20%;
  width: 100%;
  position: relative;
  height: 50%;
}

#question-output {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0 10%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 33%;
  height: 52px;
  width: 104px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#truth-button {
  background-color: green;
  font-size: x-large;
}

#dare-button {
  background-color: purple;
  font-size: x-large;
}

